@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;


}

body {

    background-color: black;
    color: white;
}

.sidebar {
    background-color: cornflowerblue;
    position: absolute;
    /* background-color: rgb(128, 128, 128); */
    width: 150px;
    height: 100vh;
    font-family: 'Heebo', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 20px;
}

.sidebar nav li {
    list-style: none;
    font-size: 1rem;
    padding: 20px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: white;
}

.sidebar nav li a:active {
    color: black;
}



.main {
    /* background-color: aquamarine; */
    width: 100vw;
}

.container {
    display: flex;

}

.infocontainer {
    /* background-color: #d42a7a; */
    height: 55vh;
    width: 80vw;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.devPic img {
    width: 25vw;
    height: 55vh;

}

.hello {
    font-size: 2.3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}

.about {
    font-size: 2em;
}

.buttons {
    margin: 25px 0px;
    font-size: 16px;
}

/* .buttons button {
    padding: 7px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1em;
    border-color: aqua;
    margin: 0 3px;
    color: black;
    cursor: pointer;
} */

button:hover {
    background-color: black;
    color: white;
}

.sidebarGo {
    transform: translate(-400px, 0px);
    position: absolute;

}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;

}

.ham {
    margin-left: 10px;
}

.cross {
    margin-left: 120px;

}


/* my intro page css */
.intro {
    font-size: 16px;
}

.intro .title.about::after {
    content: "Wo i am";
}

.intro .title.skills::after {
    content: "What i know";
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: black;
    transform: translateX(-50%);
}

.hr {
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0px 5px;
    margin-top: 5px;
    margin-bottom: 10px;


}

.intro p,
.intro li {
    font-family: 'Fira Sans', sans-serif;
    margin: 10px 5px;
    font-size: 1.25em;
    list-style: square;
}

/* project page css */
.project {
    width: 80vw;
    margin: 32px auto;
    padding: 10px;
}

.project h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    list-style: none;
    margin-top: 2rem;
}

.project li {
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.project li h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.project li img {
    cursor: pointer;
    height: 17vh;
}

.project li p {
    margin-top: 1rem;
}


/* contact page css */

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 40px 100px;
    font-size: 16px;

}

.contactform h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    /* text-align: center; */
}

.form-group {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 10px;
    font-weight: bold;
}

.form-control {

    margin-top: 5px;
    border-radius: 5px;
    font-size: 1em;
    background-color: transparent;
    border-color: aqua;
    padding: 3px;
    color: white;

}

.btn {
    padding: 7px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.80em;
    border-color: aqua;
    width: 120px;
    color: black;
    background-color: white;
    cursor: pointer;

}

/* .btn:hover {

    color: white;
    background-color: black;

} */

@media(max-width:600px) {

    .devPic {
        display: none;
    }

    .devInfo {
        font-size: 7px;
    }

    .buttons {
        font-size: 7px;
        margin-top: 10px;

    }


    .buttons button {
        margin-top: 7px;
    }

    .contactform {
        padding: 40px 25px;
        font-size: 7px;

    }

    .intro {
        font-size: 7px;

    }

    /* .sidebar {
        transform: translate(-400px, 0px);
        position: absolute;

    } */
}
